<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="MedicalSystemDB"
             connectionString="Server=localhost;Database=medicalsystem;Uid=root;Pwd=123456789;CharSet=utf8;"
             providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>